# Jekyll GH-pages Digital Collection Generator

# Note: use environment variable on build command to include analytics
# JEKYLL_ENV=production jekyll build

# Site settings
title: The Friday Letter Archive
description: A collection of the president's weekly messages to the Vandal family
keywords: university of idaho, university communications, president's office, digital collections, web archive
owner: University of Idaho Library
email: ewilliamson@uidaho.edu

# url variables
url: https://www.lib.uidaho.edu
baseurl: /digital/fridayletter
liburl: https://www.lib.uidaho.edu
digurl: https://www.lib.uidaho.edu/digital
repourl: https://digital.lib.uidaho.edu

# page gen settings https://github.com/avillafiorita/jekyll-datapage_gen
page_gen:
  - data: 'fridayletters'
    template: 'letter'
    name: 'date'
    dir: 'letters'
    extension: 'html'
